# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
venv/
.env/
.venv/
ENV/
env/

# =========================
# ENV VARIABLES
# =========================
.env
.env.*

# =========================
# PYCHARM / JETBRAINS
# =========================
.idea/

# =========================
# TESTS / COVERAGE
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache/

# =========================
# MYPY / TYPE CHECKING
# =========================
.mypy_cache/
.dmypy.json
dmypy.json

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# DATABASES
# =========================
*.sqlite3
*.db

# =========================
# BUILD FILES
# =========================
build/
dist/
*.egg-info/

# =========================
# UVICORN / FASTAPI
# =========================
*.pid

# =========================
# MAC / WINDOWS
# =========================
.DS_Store
Thumbs.db

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# TEMP FILES
# =========================
tmp/
temp/
*.tmp

# =========================
# VS CODE (si tambien usas)
# =========================
.vscode/